streamlit==1.52.1
streamlit-component-navbar==0.7.7
streamlit-elements==0.1.0
streamlit-scroll-navigation==1.2.1
streamlit-tags==1.2.8
importlib_metadata==8.7.0
pandas
regex
requests==2.31.0
matplotlib==3.10.7
matplotlib-inline==0.1.7
jieba==0.42.1
torch
transformers==4.54.1
langdetect==1.0.9
wordcloud==1.9.4
bleach
langid
